# Python
__pycache__/
*.py[cod]
venv/
.env

# Node
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# IDEs
.vscode/
.idea/

# System
.DS_Store
